@media only screen and (min-width: 600px) {
  main {
    display: grid;
    grid-template-columns: auto auto;
    width: 100vw;
  }
  #left {
    grid-column: 1/ 2;
  }
  #canvas {
    grid-column: 2/ 3;
    grid-row: 1;
    width: 100%;
  }
}
.red{
    margin-left:1vw;
    color:red
}.green{
    margin-left:1vw;
    color:green
}
